<div class="sticky">
  <div class="flex justify-between items-center py-12">
    <div class="flex gap-12">
      <a routerLink="/" class="flex gap-2 justify-center items-center cursor-pointer">
        <i class="pi pi-list"></i>List
      </a>
      <a routerLink="board" class="flex gap-2 justify-center cursor-pointer items-center">
        <i class="pi pi-table"></i>Board
      </a>
      <a routerLink="" class="flex gap-2 justify-center cursor-pointer items-center">
        <i class="pi pi-calendar"></i>Calendar
      </a>
    </div>
    <div class="flex gap-8 items-center">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          style="border-radius: 25px"
          type="text"
          pInputText
          placeholder="Search"
          size="small"
          class="w-64 transition-all duration-300 focus:w-94"
        />
      </p-iconfield>
      <div class="cursor-pointer"><i class="pi pi-comment"></i></div>
      <div class="cursor-pointer"><i class="pi pi-bell"></i></div>
      <div class="inline-block text-left">
        <p-avatar
          title="View your profile and settings"
          label="V"
          shape="circle"
          class="cursor-pointer"
          (click)="menu.toggle($event)"
        />
        <p-menu
          class="mt-2"
          #menu
          [model]="menuItems()"
          [popup]="true"
          styleClass="z-50 mt-6 min-w-[12rem] rounded-xl shadow-lg border border-gray-200 bg-white"
        />
      </div>
    </div>
  </div>
</div>
